<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header><h1>Code akademija</h1></header>
    <section>
      <div id="change_username">
        <input type="text" id="username" placeholder="Ime" />
        <button id="send_username">Promeni ime</button>
      </div>
    </section>
    <section id="chatroom">
      <div id="feedback"></div>
    </section>
    <section id="input_zone">
      <input type="text" id="message" class="inputZ" />
      <button id="send_message" class="inputZ">Send</button>
    </section>
    <script src="js.js"></script>
  </body>
</html>
